@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: var(--deep-green-dark-gray);
} */

.limit-to-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds "..." at the end of truncated text */
}

.header {
  background-color: var(--white);
  color: #ffff;
  padding: 10px 20px;
  /* border-bottom: 2px solid #ddd; */
}



.header__left__deliveryform {
  /* background-color: red; */
}

.header__left__divider {
  width: 2px;
  height: 40px;
  background-color: #ddd;
  border-radius: 30px;
}
.header__left__deliveryform__1st {
  color: var(--light-background-dark-gray);
  font-weight: 400;
  font-size: 12px;
}

.header__left__deliveryform__2nd {
  color: var(--light-background-dark-charcoal);
  font-weight: 700;
  font-size: 14px;
}

.header__left__brand {
  color: var(--light-background-black);
}

.header__right__1st p,
.header__right__2nd p,
.header__right__3rd p {
  font-size: 12px;
  color: var(--light-background-dark-charcoal);
}

.header__right__1st svg,
.header__right__2nd svg,
.header__right__3rd svg {
  font-size: 20px;
  color: var(--light-background-dark-charcoal);
}

.subHeader {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.subHeader__card a {
  font-size: 16px;
  font-weight: 500;
  color: var(--light-background-dark-charcoal);
}
.subHeader__card a:hover {
  color: var(--deep-green);
}

.footer {
  background-color: #eef4ff;
  padding: 50px 25px;
}


